.color-palette {
  aspect-ratio: 6 / 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 8px;
  border-radius: 8px;
  box-shadow:
    inset 5px 5px 10px #929292,
    inset -5px -5px 10px #ffffff;
  padding: 8px 8px 8px 16px;
  background-color: #e8e8e8;
  margin: auto 25%;

  .marble {
    cursor: pointer;
  }
}
