*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(120, 144, 156, 0.7);
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(176, 190, 196, 1);
  border-radius: 6px;
  box-shadow: inset 0 0 5px white;
}

body {
  background: #2e2e2e;
  color: #fff;
}

$gap:
  'xs' 4px,
  'sm' 8px,
  'md' 16px,
  'lg' 32px,
  'xl' 64px;
$gap-default: 16px;

.gap {
  gap: $gap-default;
}
.gap-x {
  column-gap: $gap-default;
}
.gap-y {
  row-gap: $gap-default;
}

@each $name, $size in $gap {
  .gap-#{$name} {
    gap: $size;
  }
  .gap-x-#{$name} {
    column-gap: $size;
  }
  .gap-y-#{$name} {
    row-gap: $size;
  }

  @each $name2, $size2 in $gap {
    .gap-#{$name}-#{$name2} {
      gap: $size $size2;
    }
  }
}
