.card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 32px;
}

.essentials {
  position: relative;
  padding-left: 8px;
  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 0;
    left: 0px;
    background-color: #d32f2f;
  }
}

.blind {
  display: none;
}
